.flex-contenedor{
    display: flex;
    background-color: rgb(115, 88, 139);
}

.flex-contenedor > div{
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: small;
}

.flex-contenedor2{
    background-color: aqua;
    margin: 10px;
    padding: 20px;
    font-size: medium;
}